# Copy this file to `.env` and fill in your values
# Values will also work if exported in the environment directly

MQTT_BROKER=mqtt            # hostname or IP of MQTT broker
MQTT_USERNAME=mqtt          # username for broker authentication
MQTT_PASSWORD=yourpassword  # password for broker authentication
