[Unit]
Description=Run LED Sign

[Service]
Type=Simple
Restart=Always
User=root
ExecStart=sudo /home/pi/mqttLedSign/venv/bin/python mqttSign.py --led-chain=3 --led-rows=16

[Install]
WantedBy=multi-user.target
